@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
  --color-rabbit-red: #ea2e01;
}



#root {
  font-family: var(--font-inter);
  font-optical-sizing: auto;
  font-style: normal;
}


.smooth-click-animation {
  @apply hover:text-black active:scale-95 transition-transform duration-150
}